<launch>

<arg name="run_rviz" default="true" />

<node pkg="stage_ros" type="stageros" name="stage" args="$(find stage_cars)/worlds/uwe_four_cars_sick.world" />

<group ns="robot_0">

  <node pkg="stage_cars" type="car_wrapper.py" name="car_wrapper" required="true" />

  <node pkg="stage_cars" type="path_follower.py" name="path_follower" output="screen" required="true">
    <param name="gap_ahead" type="double" value="0.00001" />
  </node>

  <rosparam param="path_file_names" subst_value="true" >[
  $(find stage_cars)/paths/path_segment_1.yaml,
  $(find stage_cars)/paths/path_segment_2.yaml,
  $(find stage_cars)/paths/path_segment_3.yaml,
  $(find stage_cars)/paths/path_segment_4.yaml,
  $(find stage_cars)/paths/path_segment_5.yaml,
  $(find stage_cars)/paths/path_segment_6.yaml,
  $(find stage_cars)/paths/path_segment_7.yaml,
  ]</rosparam>

  <param name="speed" type="double" value="0.0" />
  <param name="latacc" type="double" value="20.0" />

</group>

<group ns="robot_1">

  <node pkg="stage_cars" type="car_wrapper.py" name="car_wrapper" required="true" />

  <rosparam param="path_file_names" subst_value="true" >[
  $(find stage_cars)/paths/northBound.yaml,
  $(find stage_cars)/paths/gateEnd.yaml,
  $(find stage_cars)/paths/southBound.yaml,
  $(find stage_cars)/paths/futureSpace.yaml,
  ]</rosparam>

  <node pkg="stage_cars" type="path_follower.py" name="path_follower" required="true" />

  <param name="speed" type="double" value="8.5" />

</group>

<group ns="robot_2">

  <node pkg="stage_cars" type="car_wrapper.py" name="car_wrapper" required="true" />

  <rosparam param="path_file_names" subst_value="true" >[
  $(find stage_cars)/paths/southBound.yaml,
  $(find stage_cars)/paths/futureSpace.yaml,
  $(find stage_cars)/paths/northBound.yaml,
  $(find stage_cars)/paths/gateEnd.yaml,
  ]</rosparam>

  <node pkg="stage_cars" type="path_follower.py" name="path_follower" required="true" />

  <param name="speed" type="double" value="8.5" />

</group>

<node if="$(arg run_rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find stage_cars)/stage_cars.rviz" />

</launch>
